{% extends 'base.html' %}
{% block title %}Isi Supervisi{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Isi Supervisi: {{ format.nama }}</h2>

    <form method="post">
{% csrf_token %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Prosedur</th>
            <th>Aspek</th>
            <th>D</th>
            <th>TD</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% for aspek in item.aspek.all %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ item.aspek.count }}">{{ item.pertanyaan }}</td>
                {% endif %}
                <td>{{ aspek.nama_aspek }}</td>
                <td class="text-center">
                    <input type="checkbox" name="d_{{ aspek.id }}">
                </td>
                <td class="text-center">
                    <input type="checkbox" name="td_{{ aspek.id }}">
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
<button type="submit" class="btn btn-success">Simpan</button>
</form>

</div>
{% endblock %}
