{% extends 'base.html' %}

{% block title %}Detail Supervisi{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detail Supervisi #{{ supervisi.id }}</h2>
    <p>Perawat: {{ supervisi.perawat.username }}</p>
    <p>Format: {{ supervisi.format_supervisi.nama }}</p>
    <p>Skor Total: {{ supervisi.skor_total }}%</p>

    <h4>Hasil Supervisi:</h4>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Prosedur</th>
            <th>Aspek yang Dinilai</th>
            <th>D</th>
            <th>TD</th>
        </tr>
    </thead>
    <tbody>
        {% for item in supervisi.format_supervisi.items.all %}
            {% for aspek in item.aspek.all %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ item.aspek.count }}">{{ item.pertanyaan }}</td>
                {% endif %}

                <td>{{ aspek.nama_aspek }}</td>

                {% comment %} Cek JawabanAspek {% endcomment %}
                {% with supervisi.jawaban_aspek.all|dictsort:"id" as jawaban_aspeks %}
                {% for ja in jawaban_aspeks %}
                    {% if ja.aspek.id == aspek.id %}
                        <td class="text-center"><input type="checkbox" disabled {% if ja.d %}checked{% endif %}></td>
                        <td class="text-center"><input type="checkbox" disabled {% if ja.td %}checked{% endif %}></td>
                    {% endif %}
                {% endfor %}
                {% endwith %}

            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
